aiofiles==22.1.0
aiosqlite==0.18.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==23.1.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==4.1.0
brotlipy==0.7.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.4
colorama==0.4.6
comm==0.1.2
cryptography==41.0.3
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
exceptiongroup==1.0.4
executing==0.8.3
fastjsonschema==2.16.2
Gymnasium==0.26.3
gymnasium-notices==0.0.1
idna==3.4
imageio==2.26.0
importlib-metadata==6.0.0
ipykernel==6.25.0
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
jedi==0.18.1
Jinja2==3.1.2
json5==0.9.6
jsonschema==4.17.3
jupyter==1.0.0
jupyter_client==7.4.9
jupyter-console==6.6.3
jupyter_core==5.3.0
jupyter-events==0.6.3
jupyter-server==1.23.4
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyter-ydoc==0.2.4
jupyterlab==3.6.3
jupyterlab-pygments==0.1.2
jupyterlab_server==2.22.0
jupyterlab-widgets==3.0.5
lazy_loader==0.1
lxml==4.9.3
lz4==4.3.2
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==0.8.4
nbclassic==0.5.5
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.9.2
nest-asyncio==1.5.6
networkx==3.0
notebook==6.5.4
notebook_shim==0.2.2
packaging==23.1
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
pip==23.2.1
platformdirs==3.10.0
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.36
psutil==5.9.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.15.1
pyOpenSSL==23.2.0
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2023.3.post1
PyWavelets==1.4.1
pywin32==305.1
pywinpty==2.0.10
PyYAML==6.0
pyzmq==23.2.0
qtconsole==5.4.2
QtPy==2.2.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.2
scikit-image==0.20.0
scipy==1.9.1
selenium==3.141.0
Send2Trash==1.8.0
setuptools==68.0.0
sip==6.6.2
six==1.16.0
sniffio==1.2.0
soupsieve==2.4
stack-data==0.2.0
tabulate==0.9.0
tensorboardX==2.6
terminado==0.17.1
tifffile==2023.3.15
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tornado==6.3.2
traitlets==5.7.1
typing_extensions==4.7.1
urllib3==1.26.16
wcwidth==0.2.5
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==0.58.0
wheel==0.41.2
widgetsnbextension==4.0.5
win-inet-pton==1.1.0
y-py==0.5.9
ypy-websocket==0.8.2
zipp==3.11.0
